<div class="contain">
  <div class="wrap">
    <div class="Title"><p>功能菜单(ID:张三)</p></div>
    <div class="func title"><span>已销单入库的SKU有285种</span></div>
    <div class="func">
      <a class="btn btn-primary btn-sm" routerLink="../handDevice-instock">1.采购入库</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">2.库位转移</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">3.手工入库</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">4.盘点</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">5.查询</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">6.加工产品入库</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">7.设置附加库位</a>
    </div>
    <div class="func">
      <a class="btn btn-primary btn-sm">8.拣货任务</a>
    </div>
  </div>
</div>
