.inputCode{width: 100%;}
.flex{display: flex;align-items: center;}
.flex .T{width: 60px;text-align: left;
  font-size: 14px;}
.flex .inputConfirm{width: 80%;margin-right: 15px;}
.flex .inputNum{width: 60px;}
.flex .info,.flex .imgwrap{width: 50%;}
.func .info p{text-align: left;}
.func .info p:last-of-type{
  margin: 0;}
