<div class="contain">
  <div class="wrap">
    <div class="Title"><span>功能菜单(ID:张三)</span><span class="back"><a routerLink="../handDevice">返回主界面</a></span></div>
    <div class="func"><input type="text" placeholder="采购产品条码" class="input inputCode"></div>
    <div class="func flex"><span class="T">库位：</span><input type="text" class="input inputConfirm"><input type="text" class="input inputNum"></div>
    <div class="func title"><span>请扫描采购产品条码！</span></div>
    <div class="func flex">
      <div class="imgwrap">
        <img src="http://p6.qhmsg.com/t01f19a83edd601f295.jpg" alt="SKU图" width="100" height="100">
      </div>
      <div class="info">
        <p>产品SKU：</p>
        <p>库位：</p>
        <p>自定义SKU</p>
        <p>现有库存：</p>
        <p>锁定库存：</p>
      </div>
    </div>
  </div>
</div>
